/* General Styles */
body {
    background: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #212121;
    font-family: Roboto, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    color: #fff;
    background: #0b254f;
}

/* Navigation */
nav {
    width: 100%;
    height: 64px;
    overflow: hidden;
    padding: 24px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 432px;
    position: absolute;
    left: calc(50% - 216px);
}

nav ul li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 8px;
    margin: 0 16px;
    width: 112px;
    height: 64px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
nav ul li:after {
    display: block;
    content: ' ';
    border-bottom: solid 2px #212121;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    padding: 0 16px;
}
nav ul li:hover:after {
    transform: scaleX(1);
}

/* Header */
header {
    width: 100%;
    height: 70%;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    color: #ffffff;
    height: 112px;
    position: absolute;
    top: calc(50% - 56px);
    width: 100%;
    font-family: Sanchez, sans-serif;
}

.header-image {
    height: calc(100% - 112px);
    background-size: cover;
    background: #0b254f url("images/header.jpg") no-repeat fixed center center;
    position: relative;
}

/* Footer */
footer {
    width: 100%;
    background: #DDDDDD;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social li {
    float: left;
    /*noinspection CssNoGenericFontName*/
    font-family: socicon;
    height: 48px;
    width: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    transition: color 0.1s ease-in-out;
}

.twitter:hover {
    color: #4da7de;
}

.facebook:hover {
    color: #3e5b98;
}

.instagram:hover {
    color: #000000;
}

.snapchat:hover {
    color: #fffa37;
}

.copyright {
    float: left;
    line-height: 48px;
}

