/* General Styles */
body {
    background: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #394e70;
    font-family: Roboto, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    color: #fff;
    background: #0b254f;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "socicon";
    src:url("fonts/socicon.eot");
    src:url("fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/socicon.woff") format("woff"),
    url("fonts/socicon.ttf") format("truetype"),
    url("fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Navigation */
nav {
    width: 100%;
    height: 64px;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background: #394e70;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0 10%;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 312px;
    position: absolute;
    left: calc(50% - 156px);
}

nav ul li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 16px;
    width: 124px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.selected {
    font-weight: bold;
}
nav ul li a span{
    width: auto;
}
nav ul li a span:after {
    display: block;
    content: ' ';
    border-bottom: solid 1px #ffffff;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    width: auto;
    margin-top: -16px;
}
nav ul li a:hover span:after {
    transform: scaleX(1);
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.cart {
    float: right;
    line-height: 64px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 64px;
    box-sizing: border-box;
    margin-top: -2px;
}

/*noinspection CssNoGenericFontName*/
.cart:before {
    content:'\E8CC';
    font-family: Material Icons;
    position: relative;
    top: 2px;
}

.cart:after {
    content: attr(data-items);
    font-weight: bold;
}

/* Header */
header {
    width: 100%;
    height: calc(100% - 256px);
    margin-top: 64px;
}

header h1 {
    margin: 0;
    font-size: 85px;
    font-weight: 400;
    color: #ffffff;
    height: 112px;
    position: relative;
    width: 100%;
}

.header-text p{
    width: 25%;
    box-sizing: border-box;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.header-text .shop-link {
    width: 100%;
    color: #ffffff;
}

.header-text {
    height: 35%;
    width: 100%;
    padding: 0 10%;
    top: 32.5%;
    text-align: left;
    position: absolute;
}

.header-content {
    height: 100%;
    background-size: cover;
    background: #0b254f url("images/header.jpg") no-repeat fixed top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.photo-credit {
    position: absolute;
    bottom: 8px;
    right: 32px;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

/* Index */
main {
    overflow: hidden;
    padding: 0 10%;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100% - 176px);
}
main:not(#home) {
    margin-top:96px;
}
#lisgear-products-list{
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
}
/* TODO: Resize this so that it looks good, but stays dynamic */
.lisgear-product {
    float: left;
    height: auto;
    width: calc(25% - 32px);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    list-style: none;
    box-sizing: border-box;
    margin: 16px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
}
.lisgear-product:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.product-description {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 16px;
}

.product-description .title {
    font-size: 20px;
    float: left;
}

.product-description .price {
    font-size: 20px;
    float: right;
}

.product-description .description {
    clear: both;
    opacity: 0.8;
}

.lisgear-product img {
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    background: #DDDDDD;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    clear: both;
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social li {
    float: left;
    /*noinspection CssNoGenericFontName*/
    font-family: socicon;
    height: 48px;
    width: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    transition: color 0.1s ease-in-out;
}

.social li a {
    display: block;
    width: 100%;
    height: 100%;
}

.twitter:hover {
    color: #4da7de;
}

.facebook:hover {
    color: #3e5b98;
}

.instagram:hover {
    color: #000000;
}

.snapchat:hover {
    color: #fffa37;
}

.snapchat {
    position: relative;
}

.snapchat:after {
    content: 'lisgarstudco';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding: 8px 0;
    width: 112px;
    border-radius: 12px;
    left: -32px;
    top: -36px;
    opacity: 0;
    /*noinspection CssUnknownProperty*/
    -webkit-clip-path: circle(0% at 50% 150%);
    clip-path: circle(0% at 50% 150%);
    transition: -webkit-clip-path 0.2s, clip-path 0.2s, opacity 0.2s;
}
.snapchat:hover:after {
    /*noinspection CssUnknownProperty*/
    -webkit-clip-path: circle(100% at center);
    clip-path: circle(100% at center);
    opacity: 1;
}

.copyright {
    float: left;
    line-height: 48px;
}

.copyright a:hover {
    text-decoration: underline;
}

.social-message {
    float: right;
    line-height: 48px;
}

/* product display pages */
.product-display-section {
	width: 100%;
	height: auto;
}
.product-image {
	left: 0;
    height: auto;
    width: calc(50% - 64px);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
    margin: 32px;
    max-height: 40vw;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.mobile {
    display: none;
}

@media only screen and (max-device-width: 480px){
    nav {
        padding: 0 16px;
    }
    nav ul {
        left: 0;
    }
    nav ul li {
        margin: 0;
        width: 96px;
    }
    main {
        padding: 0;
    }

    #lisgear-products-list {
        margin: 0;
    }

    .lisgear-product {
        width: calc(100% - 32px);
        margin: 8px 16px;
    }

    .lisgear-product:first-child {
        margin: 16px 16px 8px;
    }

    .lisgear-product:last-child {
        margin: 8px 16px 16px;
    }

    .header-text {
        top: 0;
        padding: 0;
        text-align: center;
        margin-top: 32px;
    }

    .header-text p {
        width: 100%;
        box-sizing: border-box;
        padding: 0 32px;
    }

    section h1 {
        text-align: center;
    }

    .photo-credit {
        width: 100%;
        text-align:center;
        left: 0;
    }

    header {
        height: calc(100% - 64px);
    }

    footer {
        height: auto;
        overflow: hidden;
    }

    .copyright {
        float: left;
        line-height: 24px;
        text-align: center;
        width: 100%;
    }

    .social {
        float: left;
        width: 100%;
    }

    .social li {
        width: 25%;
    }

    .social-message {
        display: none;
    }
    .no-mobile {
        display: none;
    }
    .mobile {
        display: block;
    }
}