/* General Styles */
body {
    background: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #212121;
    font-family: Roboto, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    color: #fff;
    background: #0b254f;
}

/* Navigation */
nav {
    width: 100%;
    height: 64px;
    overflow: hidden;
    padding: 24px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 432px;
    position: absolute;
    left: calc(50% - 216px);
}

nav ul li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 8px;
    margin: 0 16px;
    width: 112px;
    height: 64px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
nav ul li:after {
    display: block;
    content: ' ';
    border-bottom: solid 2px #212121;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    padding: 0 16px;
}
nav ul li:hover:after {
    transform: scaleX(1);
}

/* Header */
header {
    width: 100%;
    height: 60%;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
}

.header-image {
    height: calc(100% - 112px);
}