/* General Styles */
body {
    background: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #394e70;
    font-family: Roboto, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

::selection {
    color: #fff;
    background: #0b254f;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Navigation */
nav {
    width: 100%;
    height: 96px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 16px 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background: #eeeeee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 312px;
    position: absolute;
    left: calc(50% - 156px);
}

nav ul li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 8px;
    margin: 0 16px;
    width: 124px;
    height: 64px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.selected {
    font-weight: bold;
}
nav ul li a span{
    width: auto;
}
nav ul li a span:after {
    display: block;
    content: ' ';
    border-bottom: solid 1px #394e70;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    width: auto;
}
nav ul li a:hover span:after {
    transform: scaleX(1);
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Header */
header {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    color: #ffffff;
    height: 112px;
    position: relative;
    width: 100%;
    font-family: Sanchez, sans-serif;
}
h2{
    text-align: center;
}

.header-text p{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30%;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.header-text .shop-link {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.header-text {
    height: 35%;
    width: 100%;
    top: 32.5%;
    position: absolute;
}

.header-content {
    height: calc(100% - 96px);
    background-size: cover;
    background: #0b254f url("images/header.jpg") no-repeat fixed center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-top: 96px;
}
.photo-credit {
    position: absolute;
    bottom: 8px;
    right: 32px;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

/* Index */
main {
    overflow: hidden;
    padding: 0 10%;
    width: 100%;
    box-sizing: border-box;
    margin-top:96px;
    min-height: calc(100% - 176px);
}
#lisgear-products-list{
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
}
/* TODO: Resize this so that it looks good, but stays dynamic */
.lisgear-product {
    float: left;
    height: auto;
    width: calc(50% - 64px);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    list-style: none;
    box-sizing: border-box;
    margin: 32px;
    max-height: 40vw;
    overflow: hidden;
}

.lisgear-product img {
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    background: #DDDDDD;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    clear: both;

}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social li {
    float: left;
    /*noinspection CssNoGenericFontName*/
    font-family: socicon;
    height: 48px;
    width: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    transition: color 0.1s ease-in-out;
}

.social li a {
    display: block;
    width: 100%;
    height: 100%;
}

.twitter:hover {
    color: #4da7de;
}

.facebook:hover {
    color: #3e5b98;
}

.instagram:hover {
    color: #000000;
}

.snapchat:hover {
    color: #fffa37;
}

.snapchat {
    position: relative;
}

.snapchat:after {
    content: 'lisgarstudco';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding: 8px 0;
    width: 112px;
    border-radius: 12px;
    left: -32px;
    top: -36px;
    opacity: 0;
    /*noinspection CssUnknownProperty*/
    -webkit-clip-path: circle(0% at 50% 150%);
    clip-path: circle(0% at 50% 150%);
    transition: -webkit-clip-path 0.2s, clip-path 0.2s, opacity 0.2s;
}
.snapchat:hover:after {
    /*noinspection CssUnknownProperty*/
    -webkit-clip-path: circle(100% at center);
    clip-path: circle(100% at center);
    opacity: 1;
}

.copyright {
    float: left;
    line-height: 48px;
}

.social-message {
    float: right;
    line-height: 48px;
}

/* product display pages */
.wrapper {
	min-height: 100%;
	position: relative;
}
.wrapper footer {
	position: absolute;
    bottom: 0;
    left: 0;
}
.product-display-section {
	width: 100%;
	height: 100%;
	margin-top: 32px;
}
.product-display-section h1{
	color: #212121;
}
.product-image {
	float: left;
    width: calc(50% - 64px);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
    margin: 0;
    max-height: 40vw;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.product-image img{
	width: 100%;
}
.product-information {
    margin-left: 50%;
}